<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-image: url(/static/images/hello.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
</head>
<body>
    <h1><u><center>About us<center></u></h1>
        <h2><strong><u>Introduction</u></strong></h2>
<pre style="font-size: 140%;font-family:verdana"><i>Rentify is a one stop shop for all your fashion and lifestyle needs. Being India's largest e-commerce store
for fashion and lifestyle products, Rentify aims at providing a hassle free and
enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal.
The brand is making a conscious effort to bring the power of 
fashion to shoppers with an array of the latest and trendiest products available in the country</i></pre>
<h2><strong><u>Value proposition</u></strong></h2>
<pre style="font-size: 140%;font-family: verdana;"><i>Rentify's value proposition revolves around giving consumers the power and ease of purchasing fashion
and lifestyle products online. Offerings such as the largest in-season product 
catalogue, 100% authentic products, cash on delivery and preferred shopping destination in the country. To make online shopping
easier for you, a dedicated customer connect team is on standby to answer your queries 24x7
</i></pre>
</body>
</html>