{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <div class="container">
        <form action=""method="POST">
          {% csrf_token %}
            <h1><u><center>Contact</center></u></h1>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="">
          <label for="country">Country</label>
          <input type="text" name="country">
      
          <label for="subject">Subject</label>
          <input type="text" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
          
          {% if messages %}
{% for msg in messages%}

   {{msg}}

   {% endfor %}
   {% endif %}
      
        </form>
      </div>
</body>
</html>